@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&family=Satisfy&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hero Section Styling */

.hero__message {
  background: linear-gradient(
    91deg,
    #fdc15d 11.73%,
    #d1297a 60.63%,
    #ab2da7 100.3%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Satisfy, "cursive";

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__caurosel
  .swiper-pagination
  .swiper-pagination-bullets
  .swiper-pagination-horizontal {
  margin-top: 4rem !important;
}

.hero__caurosel .swiper-pagination-bullet-active {
  background: #fff !important;
}

.hero__caurosel .swiper-pagination-bullet {
  background: #dbdbdb !important;
}

/* My Profile Page */
.form__elements {
  width: 100%;
  padding: 13px 15px;
  outline: none;
  background-color: #292929;
  border: 1px solid rgba(255, 255, 255, 0.664);
  border-radius: 6px;
}

.ticket {
  width: calc(100% - 20px);
}



/* booking page */
.bookingcommon {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.bookingcommonmob {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border: none;
}

.workCardWidth {
  width: calc(33% - 8px);
}

/* myProfile page */
.countryButton
{
  background: #292929;
padding: 0.7vmax;
margin: 0.2vmax,
}

@media only screen and (max-width: 678px) {
  .workCardWidth {
    width: 100%;
  }
}

@media only screen and (min-width: 679px) and (max-width: 1024px) {
  .workCardWidth {
    width: calc(33% - 16px);
  }
}
